.home-page {
  height: 100vh;
  width: 100%;
  background-image: url("../../../public/home-background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60% 100%;
}

.introduction {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.introduction .left {
  text-align: left;
  display: inline-flex;
  align-content: center;
  margin: 7em;
}

.left p {
  font-size: 4em;
  font-weight: 500;
}

.highlight {
  background-color: #ffd1e8;
  padding: 2em 0;
  text-align: center;
}

.services {
  width: 100%;
  height: 100%;
  padding-top: 3em;
  text-align: center;
}

.services .title {
  font-size: 3em;
  font-weight: 700;
}
