.service-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5em 0;
  align-items: center;
}

.service-container.dark {
  background-color: #f4f4f4;
}

.service-title {
  font-size: 2em;
  font-weight: 500;
}

.hr-admin-service {
  display: grid;
  grid-template-columns: auto auto auto;
}
